* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoWhite {
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    height: 4rem;
    position: fixed;
    background-color: rgb(33, 33, 33);

    padding: 0 1.7rem 0 1.7rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headerIcons {
    width: 3.3rem;

    padding-top: 0.35rem;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.headerNumber{
    color: whitesmoke;
    font-size: larger;
}

a {
    font-size: 150%;
    color: whitesmoke;
}

.productsContainer {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.product {
    width: 100%;
    height: 100vh;
    padding: 2rem 0 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.product:nth-child(odd) { /* ger bakgrundsfärg på varannan div*/
    background-color:rgb(246, 246, 246)
}

.titleProduct {
    padding: 0 0 0.8rem 0;
    font-size: 250%;
}

.descriptionProduct {
    padding: 0 0 0.8rem 0;
    font-weight: bold;
    font-size: 85%;
}

.imageProduct {
    max-width: 13%;
    min-width: 10rem;
}

.priceProduct {
    padding: 0 0 1rem 0;
    font-size: 95%;

}

.buttonProduct {
    color: whitesmoke;
    border-radius: 8px;
    border: none;
    background-color: rgb(99,151,237);
    width: 13rem;
    height: 2.3rem;
    font-size: 95%;
}